#root {
  height: 100%;
}

body {
  margin: 0px;
}

.gridWrapper {
  height: 100% !important;
}

.App {
    flex-grow: inherit;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 80px;
}

.App-light{
    color:#232127;
}

.App-dark{
    color:#e5e3e8;
}

.thumbsSection {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.clipTabWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.clipTab {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #222;
  opacity: 0.85;
  max-width: 20px;
  align-items: center;
  height: 100px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.clipTabShowing {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #222;
  opacity: 0.85;
  max-width: 20px;
  align-items: center;
  height: 100px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.clipTab:hover {
  transform: translateX(-10px);
  transition: 0.3s ease-in-out;
}

.bm-menu {
  overflow: unset !important;
}

.sideBarWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  background-color: #222;
  opacity: 0.85;
}

.header h2 {
  margin: 0px;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: white;
  font-family: 'Avenir', 'open-sans';
}

.header p {
  font-family: 'Avenir', 'open-sans';
  text-align: center;
  color: #ddd;
  font-size: 13px;
  margin: 0px 0px 30px 0px;
}

.likesWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.likesWrapper p {
  font-family: 'Avenir', 'open-sans';
  margin-left: 10px;
}

.sideWindow {
  border-radius: 10px;
  opacity: 0.85;
  z-index: 100;
  background-color: #222;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.closeText {
  flex: 1;
  cursor: pointer;
  margin: 5px;
  align-self: flex-end;
  color: white;
}

.closeIcon {
  font-size: 10px;
  text-decoration: underline;
  text-align: right;
  color: rgba(255, 255, 255, 0.2);
  margin-bottom: 10px;
  cursor: pointer;
  transform: scale(1);
}

.closeIcon:hover {
  color: white;
  transform: scale(1.5);
  transition: 0.3s ease-in-out;
}
