.Config{
    font-family: 'Avenir', 'Helvetica';
    background-color: white;
    padding: 20px;
    height: 100%;
}

.Config-dark p {
    color:white !important;
}

.Config-dark {
  color: white !important;
  background-color: black;
}

.optionWrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.optionWrapper p {
  color: black;
  font-size: 15px;
}


.buttonWrapper {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
