.Config{
    font-family: 'Avenir', 'open-sans';
    background-color: #222;
    padding: 20px;
    height: 100%;
}

.Config-light{
    color:#232127;
}

.Config-dark{
    color:#e5e3e8;
}

.optionWrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.optionWrapper p {
  color: black;
  font-size: 15px;
}


.buttonWrapper {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
