.hoverTriggerContent {
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 0.1s ease 0s normal forwards 1 fadein;
  background-color: #222;
  padding: 10px;
  cursor: pointer;
}

@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0.5; }
  100% { opacity:0.9; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0.5; }
  100% { opacity:0.9; }
}