.videoTitleWrapper {
  display: flex;
  flex-direction: row;
}

.videoInfo p {
  font-family: 'Avenir', 'open-sans';
  color: white;
}

.statsWrapper p {
  font-family: 'Avenir', 'open-sans';
  color: white;
}

.videoInfo {
  cursor: default;
  flex: 2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.videoTitle {
  font-weight: bolder;
  font-size: 18px;
  margin: 0px 0px 5px 5px;
}

.videoSubtitle {
  font-size: 13px;
  margin: 0px 0px 10px 5px;
}

.statsWrapper {
  cursor: default;
  flex: 1;
  margin: 0px 0px 10px 5px;
}

.stats {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.statsText {
  font-size: 13px;
  text-align: right;
  flex: 1;
  margin: 0px;
}